<div class="item announcements animated fadeInRight">
  <h2>Announcements</h2>
  <div class="b-day">
    <p><i class="fa fa-birthday-cake"></i> Birthdays</p>
    <ul>
      <li>Budi, 16 August 2017</li>
      <li>Anto, 20 August 2017</li>
      <li>Charlie, 25 August 2017</li>
    </ul>
  </div>
  <div class="spacer"></div>
  <div class="news">
    <ul>
      <li>
        <h4>Creative Writing Workshop - Saturday, 16 September 2017</h4>
        <p>Writing marketing collateral for a nonprofit organization is unique. It is different from other types of copywriting because in order to promote a nonprofit cause in written, you have to be a good storyteller. You have to create a buzz and (usually) you have to do it on a shoestring budget.</p>
      </li>
      <li>
        <h4>Volunteering at the KEMBALI First Quarter Distribution 2017/2018</h4>
        <p>This time we will need 20 volunteers helping over the three days of the event at: Mitrais Sanur Office on Saturday, August 12th, 2017 (6 volunteers) Mengwi on Sunday, August 13th, 2017 (3 volunteers) Karangasem on Saturday, August 26th, 2017 (11 volunteers) This volunteer opportunity is open for all Mitrais staff with priority given to a newcomer volunteer.</p>
      </li>
      <li>
        <h4>MITRAIS INNOVATION CONTEST (AKA INNOV-A-THON!) - get ready for Friday August 25th !</h4>
        <p>The Mitrais 2017 Innov-a-Thon will be one intensive, fun-packed event with big prizes that involves all staff from all 5 offices(not just developers).</p>
      </li>
    </ul>
  </div>
</div>


<script>
  document.addEventListener('click', function () { window.location.replace('/stats'); }, false);

  document.addEventListener("keydown", keyDownTextField, false);

  function keyDownTextField(e) {
    var keyCode = e.keyCode;
    if (keyCode == 13) {
      window.location.replace('/stats');
    } else {
    }
  }

  $(function () {
    setInterval(function () {
      let c = $('.news ul>li:first').clone();
      $('.news ul>li:first').slideUp(function () {
        $('.news ul>li:first').remove();
      });
      $(c).appendTo('.news ul').hide().fadeIn();
    }, 5000);
  });

</script>