<div class="item announcements animated fadeInRight">
  <h2>Announcements</h2>
  <div class="b-day">
    <p><i class="fa fa-birthday-cake"></i> Birthdays</p>
    <ul>
      <li>Budi, 16 August 2017</li>
      <li>Anto, 20 August 2017</li>
      <li>Charlie, 25 August 2017</li>
    </ul>
  </div>
  <div class="spacer"></div>
  <div class="news">
    <ul>
      <li>
        <h4>An me, inquam, nisi te audire vellem, censes haec dicturum fuisse</h4>
        <p>Et non ex maxima parte de tota iudicabis? Bestiarum vero nullum iudicium puto. Quae in controversiam veniunt, de iis, si placet, disseramus. Nunc omni virtuti vitium contrario nomine opponitur.</p>
      </li>
      <li>
        <h4>An me, inquam, nisi te audire vellem, censes haec dicturum fuisse</h4>
        <p>Et non ex maxima parte de tota iudicabis? Bestiarum vero nullum iudicium puto. Quae in controversiam veniunt, de iis, si placet, disseramus. Nunc omni virtuti vitium contrario nomine opponitur.</p>
      </li>
      <li>
        <h4>An me, inquam, nisi te audire vellem, censes haec dicturum fuisse</h4>
        <p>Et non ex maxima parte de tota iudicabis? Bestiarum vero nullum iudicium puto. Quae in controversiam veniunt, de iis, si placet, disseramus. Nunc omni virtuti vitium contrario nomine opponitur.</p>
      </li>
    </ul>
  </div>
</div>


<script>
    document.addEventListener('click', function () {window.location.replace('/');}, false);

  document.addEventListener("keydown", keyDownTextField, false);

  function keyDownTextField(e) {
    var keyCode = e.keyCode;
    if (keyCode == 13) {
      window.location.replace('/');
    } else {
    }
  }

</script>