<h2>CDC Weekly Report</h2>

<iframe src="http://cdc.warungku.id/test.html" width="100%" height="500px" frameBorder="0"></iframe>

<script>
  document.addEventListener('click', function () { window.location.replace('/ann'); }, false);

  document.addEventListener("keydown", keyDownTextField, false);

  function keyDownTextField(e) {
    var keyCode = e.keyCode;
    if (keyCode == 13) {
      window.location.replace('/ann');
    } else {
    }
  }

</script>