<h2>Project Live</h2>

<div>

</div>

<script>
  document.addEventListener('click', function () { window.location.replace('/cdc'); }, false);

  document.addEventListener("keydown", keyDownTextField, false);

  function keyDownTextField(e) {
    var keyCode = e.keyCode;
    if (keyCode == 13) {
      window.location.replace('/cdc');
    } else {
    }
  }

</script>