<h2>Project Live</h2>

<iframe src="http://cdc.warungku.id/test3.html" width="100%" height="500px" frameBorder="0"></iframe>

<script>
  document.addEventListener('click', function () { window.location.replace('/cdc'); }, false);

  document.addEventListener("keydown", keyDownTextField, false);

  function keyDownTextField(e) {
    var keyCode = e.keyCode;
    if (keyCode == 13) {
      window.location.replace('/cdc');
    } else {
    }
  }

</script>