@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body {
  padding: 50px;
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-black {
  background: #000;
  color: #fff;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container.space-between {
  justify-content: space-between;
}

.flex-container .item.one-forth {
  padding: 4rem;
  /* flex: 1 1 25%; */
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.emotions i.fa {
  font-size: 6rem;
}

.footer {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.spacer {
  min-height: 30px;
}

.mt50 {
  margin-top: 50px;
}

.wandt .datetime .date {
  font-size: 3rem;
}

.wandt .datetime .time {
  font-size: 4rem;
}

.wandt .weather {
  text-align: right;
}

.wandt .weather h3 {
  font-size: 6rem;
}

.wandt .weather .name {
  font-size: 3rem;
}

.wandt .weather .location {
  font-size: 2rem;
}

.wandt .weather ul {
  list-style: none;
  margin-top: 50px;
}

.wandt .weather .forecast {
  font-size: 2.2rem;
}

.wandt .weather .forecast i.wi {
  display: inline-block;
  width: 50px;
}

.chart-container {
  text-align: left;
}

.chart-container h3 {
  margin-bottom: 20px;
  text-align: center;
}

.chart-container .item {
  display: inline-block;
  width: 120px;
  padding: 20px;
}

.chart-container {
  opacity: 1;
}

.resource-allocations-container {
  width: 120px;
}

.announcements .news ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 50px 100px;
  }
  h1 {
    font-size: 6rem;
  }
  .spacer {
    min-height: 20px;
  }
  h2 {
    font-size: 2.6rem;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
  }
  .emotions i.fa {
    font-size: 12rem;
  }
  .footer {
    bottom: 200px;
    font-size: 4rem;
  }
  .chart-container h3 {
    margin-bottom: 20px;
  }
  .chart-container .item {
    width: 160px;
  }
  .resource-allocations-container {
    width: 480px;
  }
  .announcements h2 {
    font-size: 4rem;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .announcements ul {
    font-size: 1.4rem;
  }
  .announcements .b-day p {
    font-size: 1.6rem;
  }
  .announcements .news {
    width: 600px;
  }
  .announcements .news ul>li {
    margin-bottom: 20px;
  }
  .announcements .news ul>li h4 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .announcements .news ul>li p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    padding: 100px 150px;
  }
  h1 {
    font-size: 8rem;
  }
  .spacer {
    min-height: 30px;
  }
  h2 {
    font-size: 3rem;
    margin-top: 0;
  }
  h3 {
    margin-top: 0;
  }
  .emotions i.fa {
    font-size: 16rem;
  }
  .footer {
    bottom: 200px;
    font-size: 6rem;
  }
  .chart-container h3 {
    margin-bottom: 20px;
  }
  .chart-container .item {
    width: 160px;
  }
  .resource-allocations-container {
    width: 480px;
  }
  .announcements h2 {
    font-size: 4.2rem;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .announcements ul {
    font-size: 2rem;
  }
  .announcements .b-day p {
    font-size: 3rem;
  }
  .announcements .news {
    width: 600px;
  }
  .announcements .news ul>li {
    margin-bottom: 25px;
  }
  .announcements .news ul>li h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  .announcements .news ul>li p {
    font-size: 1.6rem;
  }
}